.noticia  {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header h1 {
  background-color:#41849b; 
  font-family: Calibri, sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
}

.datazo {
  color: #41849b; 
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
}

.fecha {
  font-size: 12px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
}

footer {
  background-color: #cccccc;
  color: black;
  width: 100%;
}